extend layout
block content
	p
		|Praesent bibendum sem nec varius mollis. Nulla in felis ac sapien pulvinar suscipit.
		|Mauris id eros a nisi dictum fringilla non vitae diam. Pellentesque varius eros |lacus, eget posuere felis laoreet nec. Vestibulum in sem quis lectus dictum aliquam a |nec neque. Sed pulvinar lacus mauris, et tincidunt erat semper sed. Phasellus congue 
	p
		|dignissim mauris non interdum. Vestibulum viverra iaculis ex, id sodales leo volutpat |vitae. Integer pharetra lorem nec volutpat dignissim. Mauris varius quis est et |malesuada.
block sidebar
	.widget
		h1 Widget
		p
			|Praesent bibendum sem nec varius mollis. Nulla in felis ac sapien pulvinar suscipit. Mauris id eros a nisi dictum fringilla non vitae diam. Pellentesque varius eros lacus, eget posuere felis laoreet nec. Vestibulum in sem quis lectus dictum aliquam a nec neque. Sed pulvinar lacus mauris, et tincidunt erat semper sed. Phasellus congue dignissim mauris non interdum. Vestibulum viverra iaculis ex, id sodales leo volutpat vitae. Integer 